*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

ul{
  list-style-type: none;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container{
  margin-top: 2%;
  margin-bottom: 10%;
}
.link, .link:hover{
  text-decoration: none;
  color: black;
}

/* navigation bar styling */
.nav__container{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}


.nav__list{
  display: flex;
  list-style-type: none;
  
}

.list__item{
  padding: 20px 10px 30px 10px;
}

.nav__item__selected{
  border-bottom: 2px solid #5ECE7B;
}

.dropdown{
  background-color: white !important;
  border: none !important;
  padding-top: 25px;
  margin-left: 5px;
}

.drop__container{
  display: flex;
}

/* Category page */

h1{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.card__container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__img__container{
  display: flex;
  display: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__img{
  width:  300px;
  height: 300px;
  object-fit: cover;
  padding-top: 20px;
}

.link p{
  margin-left: 10%;
}

.overlay {
  opacity: 0.35;
}
.text__overlay{
  font-size: 2em;
  position: absolute;
}

/* Card component */
.card__content__container{
  background-color: white;
  border: 0;
  text-decoration: none;
  text-align: left;
  flex-basis: 30%;
  margin-top: 100px;
}

.card__content__container:hover {
  box-shadow: -1px 0px 26px 5px rgba(0,0,0,0.12);
-webkit-box-shadow: -1px 0px 26px 5px rgba(0,0,0,0.12);
-moz-box-shadow: -1px 0px 26px 5px rgba(0,0,0,0.12);
}
.card__content__container p{
  font-weight:100;
}
.card__content__container .price__txt{
  font-weight:500;
}

/* Product Listing Page */

.product__page{
  margin-top: 5%;
  display: flex;
}

.images__showcase{
  display: flex;
  margin-left: 10%;
  margin-right: 7.5%;
}

.images__showcase1 img{
  width:  75px;
  height: 75px;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.outofstock__text{
  color: red;
}

.images__showcase2 img{
  width:  500px;
  height: 500px;
  object-fit: cover;
  margin-left: 25px;
}

.product__details{
  width: 25%;
}


.sizing{
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 0;
}

.sizing li{
  margin-right: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 50px;
  text-align: center;
}

.addtocart__button{
  display: block;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5ECE7B;
  color: white;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.size__btn__selected{
  background-color: black !important;
  color: white;
}

/* Cart page */

.cart__page{
  width: 75%;
  margin-left: 8%;
  margin-top: 2%;
}

.cart__item__container{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgb(189, 187, 187);
  padding-top: 30px;
}

.cart__item__container img {
  width: 150px;
  height: 200px;
  max-width: 150px;
  max-height: 200px;
  min-width: 150px;
  min-height: 200px;
  object-fit: cover;
  margin-left: 50px;
}

.cart__page h2{
  margin-bottom: 50px;
}

.qty li{
  border: 1px solid black;
  padding: 5px;
  width: 40px;
  text-align: center;
}
.qty h5{
  text-align: center;
}

.qty .number {
  border: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grow{
  flex-grow: 1;
}

.qty__buttons {
  background-color: white;
  border: 0;
}
